<div class="container">
    <div class="btn-group btn-group-toggle" data-toggle="buttons">
        <label class="btn btn-primary" [routerLink]="['login']">
            <input type="radio" name="options" id="option1" checked> Lib1
        </label>
        <label class="btn btn-primary" [routerLink]="['register']">
            <input type="radio" name="options" id="option3"> Lib2  
        </label>
    </div>

    <div class="split-libs">
        <router-outlet></router-outlet>
        <!-- <lib-my-lib2 class="my-lib2"></lib-my-lib2> -->
    </div>
</div>
    



